name: Build & Push Docker Images to JFrog

on:
  pull_request:
    branches: [main, staging]

env:
  JF_URL: https://trial6vs76y.jfrog.io/
  DOCKER_REPO: billing-feature-docker-local
  DOCKER_REGISTRY: trial6vs76y.jfrog.io

jobs:
  docker-build-push:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        env:
          JF_URL: ${{ env.JF_URL }}

      - name: Docker login to JFrog
        run: |
          echo ${{ secrets.JF_ACCESS_TOKEN }} | docker login ${{ env.DOCKER_REGISTRY }} -u ${{ secrets.JF_USER }} --password-stdin

      - name: Set image tag
        id: tag
        run: |
          TAG="pr-${{ github.event.pull_request.number }}-${GITHUB_SHA::8}"
          echo "TAG=${TAG}" >> $GITHUB_OUTPUT

      - name: Build Docker Image
        run: |
          docker build             -t ${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_REPO }}/billing-feature:${{ steps.tag.outputs.TAG }}             -f Dockerfile .

      - name: Push Docker Image
        run: |
          docker push ${{ env.DOCKER_REGISTRY }}/${{ env.DOCKER_REPO }}/billing-feature:${{ steps.tag.outputs.TAG }}

      - name: Publish Build Info
        run: |
          jf rt build-publish "${{ github.repository }}" "${{ steps.tag.outputs.TAG }}"
